[Desktop Entry]
Version=1.0
Terminal=false
Icon=kpresenter
Type=Application
Categories=Office;
Exec=openoffice4 -impress %U
MimeType=application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/vnd.stardivision.impress;application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.presentation.macroenabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;application/vnd.ms-powerpoint.template.macroenabled.12;
GenericName=Presentation 
GenericName[de]=Präsentationssoftware
GenericName[fr]=Logiciel de présentation
Name=Open Office Impress
InitialPreference=5
StartupNotify=true
