[Desktop Entry]
Version=1.0
Terminal=false
Icon=kword
Type=Application
Categories=Office;
Exec=openoffice4 -writer %U
MimeType=application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/vnd.oasis.opendocument.text-web;application/vnd.oasis.opendocument.text-master;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/vnd.sun.xml.writer.global;application/vnd.stardivision.writer;application/msword;application/vnd.ms-word;application/x-doc;application/rtf;text/rtf;application/vnd.wordperfect;application/wordperfect;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-word.document.macroenabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.template;application/vnd.ms-word.template.macroenabled.12;
GenericName=Word Processor
GenericName[de]=Textverarbeitung
GenericName[fr]=Traitement de texte
Name=Open Office Writer
InitialPreference=5
StartupNotify=true
