[Desktop Entry]
Version=1.0
Terminal=false
Icon=openofficeorg3-impress
Type=Application
Categories=Office;
Exec=simpress %U
MimeType=application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/vnd.stardivision.impress;application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.presentation.macroenabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;application/vnd.ms-powerpoint.template.macroenabled.12;
Name=Presentation Software
Name[de]=Präsentationssoftware
Name[fr]=Logiciel de présentation
Comment=Open Office Impress
StartupNotify=true
InitialPreference=5
