[Desktop Entry]
Version=1.0
Terminal=false
Icon=openoffice4-startcenter
Type=Application
Categories=Office;
Exec=openoffice4 %U
MimeType=application/vnd.openofficeorg.extension;
Name=Office Suite
Name[de]=Bürosuite
Name[fr]=Suite bureautique
Comment=Open Office
StartupNotify=true
