[Desktop Entry]
Version=1.0
Name=Terminal
Comment=Xfce Terminal
Exec=xfce4-terminal
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
