[Desktop Entry]
Version=1.0
Name=Calculator
Name[de]=Taschenrechner
Name[fr]=Calculatrice
Comment=Galculator
Exec=galculator
Icon=galculator
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
