[Desktop Entry]
Name=Video Editor
Name[de]=Video-Bearbeitungs-Software
Name[fr]=Éditeur vidéo
Comment=Openshot
Exec=openshot %F
Terminal=false
Type=Application
Icon=openshot
Categories=GNOME;GTK;AudioVideo;Video;AudioVideoEditing;
MimeType=application/vnd.openshot-project;
StartupNotify=true
