[Desktop Entry]
Version=1.0
Terminal=false
Icon=openofficeorg3-printeradmin
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
Exec=openoffice.org3-printeradmin
Name=Open Office Printer Administration
Name[de]=Open Office Druckerverwaltung
Name[fr]=Gestion de l'imprimante Open Office
Comment=Open Office Printeradmin
StartupNotify=true
