[Desktop Entry]
Version=1.0
Name=Calendar preferences
Name[de]=Kalendereinstellungen
Name[fr]=Préférences du calendrier
Exec=orage -p
Icon=xfcalendar
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
OnlyShowIn=XFCE;
X-XfceSettingsName=Calendar
X-XfceSettingsName[am]=ካለንደር
X-XfceSettingsName[ar]=تقويم 
X-XfceSettingsName[ast]=Calendariu
X-XfceSettingsName[be]=Каляндар
X-XfceSettingsName[bn_IN]=Calendar
X-XfceSettingsName[ca]=Calendari
X-XfceSettingsName[cs]=Kalendář
X-XfceSettingsName[da]=Kalender
X-XfceSettingsName[de]=Kalender
X-XfceSettingsName[dz]=ཟླ་ཐོ།
X-XfceSettingsName[el]=Ημερολόγιο
X-XfceSettingsName[en_GB]=Calendar
X-XfceSettingsName[eo]=Kalendaro
X-XfceSettingsName[es]=Calendario
X-XfceSettingsName[et]=Kalender
X-XfceSettingsName[eu]=Egutegia
X-XfceSettingsName[fi]=Kalenteri
X-XfceSettingsName[fr]=Calendrier
X-XfceSettingsName[gl]=Calendario
X-XfceSettingsName[gu]=કેલેન્ડર
X-XfceSettingsName[he]=לוח שנה
X-XfceSettingsName[hr]=Kalendar
X-XfceSettingsName[hu]=Naptár
X-XfceSettingsName[id]=Kalender
X-XfceSettingsName[it]=Calendario
X-XfceSettingsName[ja]=カレンダ
X-XfceSettingsName[ka]=კალენდარი
X-XfceSettingsName[kk]=Күнтізбе
X-XfceSettingsName[ko]=달력
X-XfceSettingsName[ku]=Salname
X-XfceSettingsName[lv]=Kalendārs
X-XfceSettingsName[mk]=Календар
X-XfceSettingsName[mr]=दिनदर्शिका
X-XfceSettingsName[nb]=Kalender
X-XfceSettingsName[nl]=Kalender
X-XfceSettingsName[pl]=Kalendarz
X-XfceSettingsName[pt]=Calendário
X-XfceSettingsName[pt_BR]=Calendário
X-XfceSettingsName[ro]=Calendar
X-XfceSettingsName[ru]=Календарь
X-XfceSettingsName[sk]=Kalendár
X-XfceSettingsName[sq]=Kalendar
X-XfceSettingsName[sv]=Kalender
X-XfceSettingsName[tr]=Takvim
X-XfceSettingsName[ug]=يىلنامە
X-XfceSettingsName[uk]=Календар
X-XfceSettingsName[ur]=کیلینڈر
X-XfceSettingsName[ur_PK]=کیلینڈر
X-XfceSettingsName[vi]=Lịch
X-XfceSettingsName[zh_CN]=日历
X-XfceSettingsName[zh_TW]=行事曆
