[Desktop Entry]
Version=1.0
Type=Application
Name=Audio Player
Name[de]=Audio-Player
Name[fr]=Lecteur audio
Comment=Audacious
Icon=minitunes
Categories=AudioVideo;Audio;Player;GTK;
Exec=audacious %U
TryExec=audacious
Terminal=false
MimeType=application/ogg;application/x-cue;application/x-ogg;application/xspf+xml;audio/midi;audio/mp3;audio/mpeg;audio/mpegurl;audio/ogg;audio/prs.sid;audio/x-flac;audio/x-it;audio/x-mod;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-s3m;audio/x-scpls;audio/x-stm;audio/x-vorbis+ogg;audio/x-wav;audio/x-xm;inode/directory;x-content/audio-cdda;
Encoding=UTF-8
StartupNotify=true
