[Desktop Entry]
Name=Web Browser
Name[de]=Webbrowser
Name[fr]=Navigateur Internet
Comment=Mozilla Firefox ESR
Version=1.0
Type=Application
Exec=firefox %u
Icon=firefox
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
